@font-face {
  src: url('./fonts/Dalton Maag - Aktiv Grotesk.ttf') format('true-type');
  font-family: 'Aktiv Grotesk', sans-serif;
}

html,
body {
  color: white;
  overflow: hidden;
  background-color: black;
  font-family: 'Aktiv Grotesk', sans-serif;
}

video {
  max-width: 600px !important;
}

.app-body {
  height: 100%;
  overflow: hidden;
}
