@font-face {
  src: url('./fonts/Dalton Maag - Aktiv Grotesk.ttf') format('true-type');
  font-family: 'Aktiv Grotesk', sans-serif;
}

html,
body {
  color: white;
  background-color: black;
  font-family: 'Aktiv Grotesk', sans-serif;
}
