form {
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  max-width: 2em;
  cursor: pointer;
  transform: scale(1.75);
  display: inline-block;
}

label > span {
  display: block;
  margin-top: -1.75em;
  margin-left: 3em;
}

.question-option {
  width: 80%;
  margin: auto;
  display: block;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
